{% if device_name in lab2.access_ports %}
{% for port in lab2.access_ports[device_name] %}
interface {{ port.interface }}
 description ACCESS_VLAN_{{ port.vlan }}_HOST_{{ port.host_ip }}
 switchport mode access
 switchport access vlan {{ port.vlan }}
 spanning-tree portfast
 no shutdown
{% endfor %}
{% endif %}