! ==================================================
! Generated configuration for {{ device_name }}
! Lab: {{ lab2.lab.name }}
! ==================================================

{% include 'vlans.j2' %}

{% include 'svis.j2' %}

{% include 'trunks.j2' %}

{% include 'access_ports.j2' %}
