[defaults]
inventory = inventories/netbox/netbox_inventory.yml
host_key_checking = False
force_valid_group_names = silently
collections_path = /root/.ansible/collections:/opt/automation/venv/lib/python3.9/site-packages:/opt/automation/venv/lib64/python3.9/site-packages

[libssh_connection]
hostkeys = ssh-rsa
key_exchange_algorithms = +diffie-hellman-group-exchange-sha1,+diffie-hellman-group14-sha1,+diffie-hellman-group1-sha1
publickey_algorithms = +ssh-rsa
