[defaults]
inventory = inventories/netbox/netbox_inventory.yml
host_key_checking = False
force_valid_group_names = silently
collections_path = /root/.ansible/collections:/opt/automation/venv/lib/python3.9/site-packages:/opt/automation/venv/lib64/python3.9/site-packages
