[defaults]
inventory = ../inventories/netbox/netbox_inventory.yml
host_key_checking = False
retry_files_enabled = False
timeout = 30
interpreter_python = auto_silent
deprecation_warnings = False
force_valid_group_names = always

[persistent_connection]
command_timeout = 60
connect_timeout = 30
