[defaults]
inventory = inventories/netbox_inventory.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = roles

[persistent_connection]
command_timeout = 60
connect_timeout = 30

[paramiko_connection]
host_key_auto_add = True
