---
- name: Security baseline (Cisco IOS)
  hosts: Switches
  gather_facts: false
  collections:
    - cisco.ios

  vars:
    baseline_lines:
      - service password-encryption
      - no ip http server
      - no ip http secure-server
      - ip ssh version 2
      - ip ssh time-out 60
      - ip ssh authentication-retries 2
      - login block-for 120 attempts 3 within 60
      - ip tcp synwait-time 10

  tasks:
    - name: Apply baseline hardening lines
      ios_config:
        lines: "{{ baseline_lines }}"
        save_when: modified

